/* Estilos básicos */
body {
    font-family: 'GoldPlaySemiBold', sans-serif;
    color: #003174;
    text-align: center;
    margin: 20px;
    padding: 0;
}

h1, h2 {
    color: #003174;
}

h3.materia {
    color: #003174;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input {
    background-color: transparent; /* Fundo transparente */
    color: #003174; /* Cor da fonte igual à dos títulos */
    border: 2px solid #003174; /* Borda de 2px */
    padding: 10px;
    width: 100%; /* Largura total por padrão */
    max-width: 150px;
    text-align: center;
    margin-bottom: 10px;
}

/* Resultados */
#resultados {
    margin-top: 20px;
}

.materia-baixa {
    color: red;
    font-weight: bold;
}

#exameFinalHeader {
    margin-top: 50px;
}

#exameFinal {
    margin-top: 10px;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
    body {
        margin: 10px;
    }

    h3.materia {
        margin-bottom: 15px;
    }

    label, input {
        display: block;
        width: 100%; /* Faz os labels e inputs ocupar toda a largura disponível */
        margin: 0 auto; /* Centraliza os inputs */
    }

    input {
        padding: 8px;
        margin-bottom: 15px;
    }

    #resultados, #exameFinalHeader, #exameFinal {
        margin-top: 15px;
    }
}
